name: Java CI with Maven 4 RC 5

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install Maven 4 RC5
        run: |
          wget https://dlcdn.apache.org/maven/maven-4/4.0.0-rc-5/binaries/apache-maven-4.0.0-rc-5-bin.zip
          unzip -q apache-maven-4.0.0-rc-5-bin.zip
          echo "::add-path::${{ github.workspace }}/apache-maven-4.0.0-rc-5/bin"

      - name: Build with Maven 4
        run: mvn -B clean install -Dmaven.consumer.pom.flatten=true -b concurrent

      - name: Upload local repo artifact
        uses: actions/upload-artifact@v4
        with:
          name: project-local-repo
          path: target/project-local-repo
